<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		<li>
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></a>
			<a href="https://yjpark0226.notion.site/DATA-HAS-A-BETTER-IDEA-e2adb84304064e6287ecfb701f245601">NOTION</a>
		</li>
	</ul>
</div>

<div class="container">
	<div style="width:150px;margin-right:10px;">
		<ul class="catecory">
			<li>
				<a href="/categories/Research">Reseach</a>
				<a href="/categories/Development">Development</a>
				<a href="/categories/Project">Project</a>
				<a href="/categories/Sandbox">Sandbox</a></li>
				<a href="/categories/Visualization">Sandbox</a></li>
			</li>
		</ul>
	</div>
</div>
