<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		<li>
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></a>
			<a href="https://yjpark0226.notion.site/DATA-HAS-A-BETTER-IDEA-e2adb84304064e6287ecfb701f245601"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6867bddd-33d5-4cf2-940b-f8620866dcdf/de5v2z4-38be56c0-2198-4d16-801f-4a4413323d79.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY4NjdiZGRkLTMzZDUtNGNmMi05NDBiLWY4NjIwODY2ZGNkZlwvZGU1djJ6NC0zOGJlNTZjMC0yMTk4LTRkMTYtODAxZi00YTQ0MTMzMjNkNzkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.VXBXHfOQvvctstiZh0fE1qL3EP3fG2em7CjtZbDfJcM" width="300px"></a>
		</li>
	</ul>
</div>

<div class="container">
	<div style="width:100px;margin-right:5px;">
		<ul class="catecory">
			<li><a href="/categories/Research"> | Reseach | </a></li>
			<li><a href="/categories/Development">Development | </a></li>
			<li><a href="/categories/Project">Project | </a></li>
			<li><a href="/categories/Sandbox">Sandbox | </a></li>
			<li><a href="/categories/Visualization">Sandbox | </a></li>
		</ul>
	</div>
</div>
