<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.pinterest -%}
			<a href="https://pinterest.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-pinterest-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.gmail -%}
			<a href="https://gmail.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-gmail-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.notion -%}
			<a href="https://yjpark0226.notion.site/DATA-HAS-A-BETTER-IDEA-e2adb84304064e6287ecfb701f245601"><li><i class="icon-notion-circled"></i></li></a>
		{%- endif -%}
	</ul>
</div>

<div class="container">
	<br>
	<div style="width:90px;margin-right:5px;">
		<ul>
			<li class=""><a href="/categories/Research">Reseach</a></li>
		</ul>
	</div>
	<div style="width:90px;margin-right:5px;">
		<ul>
			<li class=""><a href="/categories/Development">Development</a></li>
		</ul>
	</div>
	<div style="width:90px;margin-right:5px;">
		<ul>
			<li class=""><a href="/categories/Paper">Project</a></li>
		</ul>
	</div>
	<div style="width:90px;margin-right:5px;">
		<ul>
			<li class=""><a href="/categories/Development">Sandbox</a></li>
		</ul>
	</div>
</div>
